doctype html
html.no-js
  head
    meta(charset="utf-8")
    title <%= appname %>
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    link(rel="shortcut icon", href="/favicon.ico")
    //- Place favicon.ico and apple-touch-icon.png in the root directory

    // build:css <%= styles %>/vendor.css
    // bower:css
    <% if (!includeSass) { if (includeFoundation) { %>
    link(rel="stylesheet", href="../<%= components %>/foundation/css/foundation.css")
    <% } if (includeBootstrap) { %>
    link(rel="stylesheet", href="../<%= components %>/bootstrap/dist/css/bootstrap.css")
    <% }} %>
    // endbower
    // endbuild

    // build:css(.tmp) <%= styles %>/main.css
    link(rel="stylesheet", href="<%= styles %>/main.css")
    // endbuild

    <% if (includeModernizr) { %>
    // build:js <%= scriptsVendor %>/modernizr.js
    script(src="../<%= components %>/modernizr/modernizr.js")
    // endbuild
    <% } %>
  body

    <!--[if lt IE 10]>
    p.browsehappy You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <!--<![endif]-->

    <% if (includeFoundation) { %>
    .row
      .header
        nav.top-bar[data-topbar]
          ul.title-area
            li.name
              h1
                a(href="#") <%= appname %>
          section.top-bar-section
            ul.right
              li.active
                a(href="#") Home
              li
                a(href="#") About
              li
                a(href="#") Contact

      .panel
        h1 'Allo, 'Allo!
        p Always a pleasure scaffolding your apps.
        p
          a.button(href="#") Splendid!

      h4 Jade
      p Node templating engine.

      <% if (includeSass) { %>
      h4 Sass
      p Mature, stable, and powerful professional grade CSS extension language.
      <% } %>

      h4 HTML5 Boilerplate
      p Professional front-end template for building fast, robust, and adaptable web apps or sites.

      h4 Foundation
      p The most advanced responsive front-end framework in the world<% if (includeSass) { %>

      h4 Modernizr
      p Open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.<% } %>

      footer
        p
          span from the Yeoman team
    <% } else if (includeBootstrap) { %>
    .container
        .header
          ul.nav.nav-pills.pull-right
            li.active
              a(href="#") Home
            li
              a(href="#") About
            li
              a(href="#") Contact
          h3.text-muted <%= appname %>

        .jumbotron
          h1 'Allo, 'Allo!
          p.lead Always a pleasure scaffolding your apps.
          p
            a.btn.btn-lg.btn-success(href="#") Splendid!
              span.glyphicon.glyphicon-ok

        .row.marketing
          .col-lg-6
            h4 Slim
            p Slim is a fast, lightweight, templating language for Ruby.<% if (includeSass) { %>

            h4 Sass
            p Sass is a mature, stable, and powerful professional grade CSS extension language.<% } %>

            h4 HTML5 Boilerplate
            p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.

            h4 Bootstrap
            p Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.<% if (includeModernizr) { %>

            h4 Modernizr
            p Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.<% } %>

        .footer
          p
            span.glyphicon.glyphicon-heart from the Yeoman team
    <% } else { %>
    .hero-unit
      h1 'Allo, 'Allo!
      p You now have
      ul
        li HTML5 Boilerplate
        <% if (includeSass) { %>li Sass<% } %>
        li Jade
        <% if (includeBootstrap) { %>li Bootstrap<% } %>
        <% if (includeModernizr) { %>li Modernizr<% } %>
    <% } %>

    // build:js(.) <%= scripts %>/vendor.js
    // bower:js
    // endbower
    // endbuild

    // build:js({<%= app %>,<%= tmp %>}) <%= scripts %>/main.js
    script(src="<%= scripts %>/main.js")
    // endbuild

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
